/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2015, 5:14:06 PM
    Author     : Administrator
*/

#divver01 {
    color: green;
    width: 240px;
    font-size: 80%;
    border: 5px solid;
}

hh1 {
    color: brown;
    
    margin-left: 20px;
}

#mydiv01 {
        color: darkred;
        border: 20px solid;
        padding: 20px; 
        width: 300px;
        resize: both;
        overflow: auto;
}


body {
	background-color: #EEA;
}
 
